  <section>
    <h1>hola: {{user.first_name}}</h1>
    <h2>email:{{user.email}}</h2>
</section>
  
  {{#each carritos}}
  <form id="logout">
    <button type="submit"> SALIR</button>
  </form>
   <hr>
    <h3>Id del carro : {{this._id}}</h3>
      <button class="comprar-btn" data-carrito-id="{{this._id}}">Comprar</button>
      {{#each this.productos}}
    <hr>
    <p>id: {{this._id}}</p> 
    <p>titulo: {{this.title}}</p>
    <p>description: {{this.description}}</p> 
    <p>codigo: {{this.code}}</p> 
    <p>precio: {{this.price}}</p>
    <p>estatus: {{this.status}}</p>  
    <p>stock: {{this.stock}}</p> 
    <p>categoria: {{this.category}}</p> 
    <hr>
      {{/each}}
      {{/each}}

      <script src="./js/logout.js"></script> 
      <script src="./js/crear-ticket.js"></script> 
    