{{#each productos}}
    <p>titulo: {{this.title}}</p>
    <p>description: {{this.description}}</p> 
    <p>codigo: {{this.code}}</p> 
    <p>precio: {{this.price}}</p>
    <p>estatus: {{this.status}}</p>  
    <p>stock: {{this.stock}}</p> 
    <p>categoria: {{this.category}}</p> 
{{/each}}
<hr>

